name: Deploy Stubs

env:
  AWS_REGION: eu-west-2

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    secrets:
      GH_ACTIONS_ROLE_ARN:
        required: true
      ARTIFACT_BUCKET_NAME:
        required: true
      SIGNING_PROFILE_NAME:
        required: true
      WORKING_DIRECTORY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up SAM cli
        uses: aws-actions/setup-sam@c2a20b1822cc4a6bc594ff7f1dbb658758e383c3 # v2
        with:
          use-installer: true

      - name: Set up AWS creds
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.GH_ACTIONS_ROLE_ARN }}
          aws-region: eu-west-2

      - name: Cache SAM
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: .aws-sam/cache
          key: orch-sam

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Deploy SAM app
        uses: govuk-one-login/devplatform-upload-action@ac4a243a86c2017f5360b83d737dea4268dcf38a # v3.11.1
        with:
          artifact-bucket-name: ${{ secrets.ARTIFACT_BUCKET_NAME }}
          signing-profile-name: ${{ secrets.SIGNING_PROFILE_NAME }}
          working-directory: ${{ secrets.WORKING_DIRECTORY }}
