name: Deploy Stubs Dev

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      auth_deploy:
        type: boolean
        default: false
        description: Auth-Stub
      ipv_deploy:
        type: boolean
        default: false
        description: IPV-Stub
      spot_deploy:
        type: boolean
        default: false
        description: SPOT-Stub
      ais_deploy:
        type: boolean
        default: false
        description: AIS-Stub

jobs:
  run-checks:
    uses: ./.github/workflows/run-checks.yml
    secrets:
      SAM_APP_VALIDATE_ROLE_ARN: ${{ secrets.DEV_SAM_APP_VALIDATE_ROLE_ARN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  deploy-auth-stub:
    if: github.event.inputs.auth_deploy == 'true'
    uses: ./.github/workflows/deploy-stubs.yml
    needs: run-checks
    secrets:
      GH_ACTIONS_ROLE_ARN: ${{ secrets.DEV_AUTH_STUB_GH_ACTIONS_ROLE_ARN }}
      ARTIFACT_BUCKET_NAME: ${{ secrets.DEV_AUTH_STUB_ARTIFACT_BUCKET_NAME }}
      SIGNING_PROFILE_NAME: ${{ secrets.DEV_SIGNING_PROFILE_NAME }}
      WORKING_DIRECTORY: build/auth

  deploy-ipv-stub:
    if: github.event.inputs.ipv_deploy == 'true'
    uses: ./.github/workflows/deploy-stubs.yml
    needs: run-checks
    secrets:
      GH_ACTIONS_ROLE_ARN: ${{ secrets.DEV_IPV_STUB_GH_ACTIONS_ROLE_ARN }}
      ARTIFACT_BUCKET_NAME: ${{ secrets.DEV_IPV_STUB_ARTIFACT_BUCKET_NAME }}
      SIGNING_PROFILE_NAME: ${{ secrets.DEV_SIGNING_PROFILE_NAME }}
      WORKING_DIRECTORY: build/ipv

  deploy-spot-stub:
    if: github.event.inputs.spot_deploy == 'true'
    uses: ./.github/workflows/deploy-stubs.yml
    needs: run-checks
    secrets:
      GH_ACTIONS_ROLE_ARN: ${{ secrets.DEV_SPOT_STUB_GH_ACTIONS_ROLE_ARN }}
      ARTIFACT_BUCKET_NAME: ${{ secrets.DEV_SPOT_STUB_ARTIFACT_BUCKET_NAME }}
      SIGNING_PROFILE_NAME: ${{ secrets.DEV_SIGNING_PROFILE_NAME }}
      WORKING_DIRECTORY: build/spot

  deploy-ais-stub:
    if: github.event.inputs.ais_deploy == 'true'
    uses: ./.github/workflows/deploy-stubs.yml
    needs: run-checks
    secrets:
    # TODO Provision dev pipeline
      GH_ACTIONS_ROLE_ARN: ${{ secrets.DEV_AIS_STUB_GH_ACTIONS_ROLE_ARN }}
      ARTIFACT_BUCKET_NAME: ${{ secrets.DEV_AIS_STUB_ARTIFACT_BUCKET_NAME }}
      SIGNING_PROFILE_NAME: ${{ secrets.DEV_SIGNING_PROFILE_NAME }}
      WORKING_DIRECTORY: build/ais
