name: Deploy Stubs

env:
  AWS_REGION: eu-west-2

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    secrets:
      GH_ACTIONS_ROLE_ARN:
        required: true
      ARTIFACT_BUCKET_NAME:
        required: true
      SIGNING_PROFILE_NAME:
        required: true
      WORKING_DIRECTORY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up SAM cli
        uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800 # v2
        with:
          use-installer: true

      - name: Set up AWS creds
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: ${{ secrets.GH_ACTIONS_ROLE_ARN }}
          aws-region: eu-west-2

      - name: Cache SAM
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .aws-sam/cache
          key: orch-sam

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Deploy SAM app
        uses: govuk-one-login/devplatform-upload-action@720ddb75fba8951db5a648ebb416eb233f1b6bc9 # v3.10.1
        with:
          artifact-bucket-name: ${{ secrets.ARTIFACT_BUCKET_NAME }}
          signing-profile-name: ${{ secrets.SIGNING_PROFILE_NAME }}
          working-directory: ${{ secrets.WORKING_DIRECTORY }}
